@charset "utf-8";

html {}

body {
    font-family: Arial, sans-serif;
}

/* header */
header {
    background: #186AC9;
}

/* main content */
#row {
    display: flex;
    flex-flow: row wrap;
}

#container {
    flex: 0 0 80%;
}

#side-bar {
    flex: 0 0 19%;
    border-left: 1px solid #727272;
}




/* ヘッダーのアコーディオンメニュー */
.accordion-item {
    width: 3%;
    height: 5%;
    position: fixed;
    top: 80px;
    right: 230px;
    background-color: #186AC9;
    color: #fff;
    white-space: nowrap;
}

.accordion-header {
    position: relative;
}

.allow {
    position: absolute;
    top: -50px;
    right: 120px;
    width: 15px;
    height: 15px;
    border-top: 3px solid #fff;
    border-left: 3px solid #fff;
    transform: rotate(45deg);
    cursor: pointer;
}

.allow.rotated {
    transform: rotate(225deg);
}

.accordion-content {
    display: none;
    position: absolute;
    top: 10px;
    right: 135px;
    width: 15px;
    height: 15px;
    white-space: nowrap;

}

li {
    position: relative;
    top: -1px;
    width: 200px;
    padding: 15px;
    padding-left: 50px;
    border: solid 1.5px #003366;
    background-color: #fff;
}

.profile {
    position: relative;
    right: 40px;
    width: 30px;
    padding: 20px;
    padding-left: 35px;
    background-color: #003366;

    color: #fff;
}
