@charset "utf-8";

html {}

body {
    font-family: Arial, sans-serif;
}

/* header */
header {
    background: #186AC9;
}

.logo {
    width: 100px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 40px;
}

/* main content */
#row {
    display: flex;
    flex-flow: wrap;
    width: 100%;
    margin: 0% auto;
}

#container {
    flex: 0 0 80%;
    box-sizing: border-box;
}

#side-bar {
    flex: 0 0 19%;
    border-left: 1px solid #727272;
}

form {
    color: #727272;
}

.post-edit,
.post-delete {
    width: 80px;
    height: 30px;
    font-size: 14px;
}

.edit-btn,
.delete-btn {
    width: 20px;
    /* 横幅 */
    height: 20px;
    /* 高さ */
}

/* ヘッダーのアコーディオンメニュー */

.accordion-item {
    width: 3%;
    height: 5%;
    position: absolute;
    top: 55px;
    right: 220px;
    color: #fff;
    white-space: nowrap;
}

.icon {
    position: relative;
    width: 50px;
    top: -50px;
    left: 150px;
}

.icon img {
    width: 50px;
    height: 50px;
    object-fit: cover;
    /* ↑画像の縦横比を維持したまま切り取り */
    border-radius: 25px;
    /* ↑角を丸くする */

}

.accordion-header {
    position: relative;
}

.allow {
    position: absolute;
    top: -50px;
    right: 120px;
    width: 15px;
    height: 15px;
    border-top: 3px solid #fff;
    border-left: 3px solid #fff;
    transform: rotate(45deg);
    cursor: pointer;
}

.allow.rotated {
    transform: rotate(225deg);
}

.accordion-content {
    display: none;
    position: absolute;
    top: -10px;
    right: 241px;
    width: 15px;
    height: 15px;
    padding: 0;
    margin: 0;
    white-space: nowrap;
    z-index: 10;
    /* ↑前面に配置 */
}

li {
    position: relative;
    top: -1px;
    width: 256px;
    padding: 15px;
    padding-left: 50px;
    color: #727272;
    border: solid 1.5px #003366;
    background-color: #fff;
}

li a {

    color: #727272;
}

.profile {
    position: relative;
    right: 50px;
    padding: 20px;
    padding-right: 123px;
    margin: 0%;
    width: 100px;
    background-color: #003366;
    color: #fff;
}

/* サイドバー */
#confirm {
    position: relative;
    top: -10px;
    width: 250px;
    height: 250px;
    background-color: #fff;
}

#side-bar-username {
    position: relative;
    top: 20px;
}

.side-bar-list {
    position: relative;
    top: 25px;
}

#follow-count {
    position: relative;
    top: -33px;
    left: 120px;
}

#follower-count {
    position: relative;
    top: -33px;
    left: 120px;
}


.side-bar-btn {
    position: relative;
    top: -20px;
    left: 100px;
    padding: 10px 20px 10px 20px;
    color: #fff;
    background-color: #186AC9;
    border-radius: 5px;
    font-size: 10px;
}

.side-bar-btns {
    position: relative;
    top: -5px;
    left: 100px;
    padding: 10px 20px 10px 20px;
    color: #fff;
    background-color: #186AC9;
    border-radius: 5px;
    font-size: 10px;
}




.side-btn {
    position: relative;
    top: 40px;
    left: 70px;
    padding: 10px;
    color: #fff;
    background-color: #186AC9;
    border-radius: 5px
}

.side-bar-search {
    position: relative;
    top: -5px;
    width: 250px;
    height: 900px;
    background-color: #fff;
}

/* searchページ */
.search {
    position: relative;
    top: -11px;
    height: 100px;
    width: 100%;
    padding: 30px 60px;
    /* top/bottom: 30px, left/right: 60px */
    box-sizing: border-box;
    /* ← paddingを含めて高さ・幅を計算 */
    background-color: #fff;
    overflow: hidden;
    /* 高さを超えた内容を隠す場合 */
}

#search-form {
    width: 0px;
    height: 0px;
    background: transparent;
    /* ↑背景透過 */
    border: transparent;
}

.search-btn {
    width: 30px;
    height: 30px;
}

#search-word {
    position: relative;
    top: -20px;
    left: 500px;
    /* font-size: 20px; */
}

.search-content {
    width: 100%;
    height: 100%;
    background-color: #fff;
}

.follow-btn {
    position: relative;
    top: -30px;
    left: 600px;
}

.user-icon {
    position: relative;
    display: flex;
    top: 40px;
    left: 260px;
}

.user-icon img {
    width: 50px;
    height: 50px;
    object-fit: cover;
    /* ↑画像の縦横比を維持したまま切り取り */
    border-radius: 25px;
    /* ↑角を丸くする */

}

.search_username {
    position: relative;
    left: 370px;
    color: #727272;
}


/* 投稿フォーム */
.new-post-form {
    width: 100%;
    box-sizing: border-box;
    height: 200px;
    position: relative;
    top: -60px;
    padding-top: 60px;
    padding-left: 140px;
    resize: none;
    border: #fff;
    color: #727272;
}


.new-post-icon {
    position: relative;
    top: 30px;
    left: 60px;
    z-index: 1;
    /* ↑前面に配置 */
}

.new-post-icon img {
    width: 50px;
    height: 50px;
    object-fit: cover;
    /* ↑画像の縦横比を維持したまま切り取り */
    border-radius: 25px;
    /* ↑角を丸くする */

}

#post-form-btn {
    width: 0px;
    height: 0px;
    background: transparent;
    /* ↑背景透過 */
    border: transparent;
}

.post-btn {
    position: relative;
    top: -160px;
    left: 750px;
    height: 40px;

}


/* フォローしている人の投稿表示 */
.posts-container {
    display: flex;
    flex-direction: column;
    gap: 0px;
    margin-top: -20px;
}


.post-form-before {
    display: flex;
    align-items: flex-start;
    position: relative;
    top: 30px;
    background-color: #fff;
    border: 1px solid #fff;
    padding: 15px;
    margin-top: -100px;
    margin-bottom: 105px;
}

.post-icon-before img {
    width: 60px;
    height: 60px;
    margin-right: 15px;
    object-fit: cover;
    /* ↑画像の縦横比を維持したまま切り取り */
    border-radius: 40px;
    /* ↑角を丸くする */

}

.post-icon-before {
    position: relative;
    left: 140px;
}

/* ユーザー名と投稿内容 */
.post-content-container {
    display: flex;
    height: auto;
    flex-direction: column;
    position: relative;
    left: 180px;
    width: 500px;
    max-width: 100%;
}

#post-content {
    word-wrap: break-word;
    white-space: normal;
    overflow-wrap: break-word;
}

.content {
    display: flex;
    gap: 10px;
    align-items: center;
}

.post-time {
    position: relative;
    top: -70px;
    left: 600px;
}


/* 投稿編集ボタン */
.post-edit {
    position: relative;
    top: -10px;
    right: -600px;
    background: transparent;
    border: #fff;
}

.edit-btn {
    position: relative;
    width: 50px;
    height: 50px;

}



/* モーダルの編集 */
.modal {
    width: 100%;
    background-color: rgb(0 0 0 / 0.4);
}


.modal_post {
    width: 700px;
    height: 170px;
    position: relative;
    top: 50px;
    left: 40px;
    border-color: #727272;
    resize: none;
}

.modal_content {
    margin-top: 40px;
    background-color: #fff;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* 中央に配置 */
    width: 800px;
    height: 300px;
    max-width: 90vw;
    box-sizing: border-box;
    z-index: 1000;
    border-radius: 10px;
    /* ↑角を丸くする */
    writing-mode: horizontal-tb;
}

.post-more-edit {
    position: relative;
    left: 50px;
    background: transparent;
    border: #fff;
}

.edit-more-btn {
    width: 50px;
    height: 50px;
    position: relative;
    top: 95px;
    right: 400px;
}

.post-error {
    position: relative;
    top: 30px;
    left: 280px;
    color: #FF0000;
}



/* 投稿削除ボタン */
.post-destroy-btn {
    position: relative;
    right: -570px;
    background: transparent;
    border: #fff;
}

.destroy-btn {
    width: 50px;
    height: 50px;
}

/* 削除ボタンのホバー時にカラーチェンジ */
.post-destroy-btn:hover .destroy-btn {
    content: url(../images/trash-h.png);
}



/* フォローリストページ */
.follow-list {
    width: 100%;
    height: 200px;
    position: relative;
    top: -32px;
    background-color: #fff;
}

.follow-icons {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    /* ↑アイコンの幅を調節 */
}

.follow-icons img {
    width: 50px;
    height: 50px;
    object-fit: cover;
    /* ↑画像の縦横比を維持したまま切り取り */
    border-radius: 25px;
    /* ↑角を丸くする */
}

.follow-icon {
    position: relative;
    left: 300px;
}

.follow-list-title {
    position: relative;
    top: 35px;
    left: 40px;
}

.follow-post-container {
    display: flex;
    align-items: flex-start;
    background-color: #fff;
    border: 1px solid #fff;
    padding: 15px;
    margin-top: -20px;
    height: auto;
    flex-direction: column;
    row-gap: 5px;
    /* ←余白 */
}

.post-follow-icon {
    left: 0px;
}

.post-follow-icon img {
    width: 50px;
    height: 50px;
    object-fit: cover;
    /* ↑画像の縦横比を維持したまま切り取り */
    border-radius: 25px;
    /* ↑角を丸くする */
}

.follow-post-content {
    position: relative;
    top: -50px;
    left: 150px;
    width: 500px;
    max-width: 100%;
}

#follow-content {
    word-wrap: break-word;
    white-space: normal;
    overflow-wrap: break-word;

}

.follow-post-time {
    position: relative;
    top: -120px;
    left: 840px;
}


/* フォロワーリストページ */
.follower-list {
    width: 100%;
    height: 200px;
    position: relative;
    top: -32px;
    background-color: #fff;
}

.follower-icons {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    /* ↑アイコンの幅を調節 */
}

.follower-icon img {
    width: 50px;
    height: 50px;
    object-fit: cover;
    /* ↑画像の縦横比を維持したまま切り取り */
    border-radius: 25px;
    /* ↑角を丸くする */
}

.follower-icon {
    position: relative;
    left: 300px;
}

.follower-list-title {
    position: relative;
    top: 35px;
    left: 40px;
}

.follower-post-container {
    display: flex;
    align-items: flex-start;
    background-color: #fff;
    border: 1px solid #fff;
    padding: 15px;
    margin-top: -20px;
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.post-follower-icon {
    left: 0px;
}

.post-follower-icon img {
    width: 50px;
    height: 50px;
    object-fit: cover;
    /* ↑画像の縦横比を維持したまま切り取り */
    border-radius: 25px;
    /* ↑角を丸くする */
}

.follower-post-content {
    position: relative;
    top: -50px;
    left: 150px;
    width: 500px;
    max-width: 100%;
}

#follower-content {
    word-wrap: break-word;
    white-space: normal;
    overflow-wrap: break-word;
}


.follower-post-time {
    position: relative;
    top: -120px;
    left: 840px;
}

/* プロフィールページ */
.profile-content {
    width: 100%;
    height: 160px;
    position: relative;
    top: -11px;
    background-color: #fff;
}

.user-profile {
    position: relative;
    top: 40px;
    left: 250px;
}

.user-profile-icon {
    position: relative;
    top: -100px;
    left: 120px;
}

.img-icon {
    position: relative;
    top: 40px;
}

.user-profile-icon img {
    width: 50px;
    height: 50px;
    object-fit: cover;
    /* ↑画像の縦横比を維持したまま切り取り */
    border-radius: 25px;
    /* ↑角を丸くする */
}

#users-name {
    position: relative;
    top: -35px;
    left: 120px;
}

#users-bio {
    position: relative;
    top: -35px;
    left: 120px;

}

.profile-follow-btn {
    position: relative;
    top: -100px;
    left: 860px;
}


.update-button {
    position: relative;
    left: 400px;
    padding: 5px 50px 5px 50px;
    color: #fff;
    background-color: #FF0000;
    border: #FF0000;
    border-radius: 5px;
}

/* 他ユーザープロフィールページの過去の投稿表示 */
.user-posts {
    display: flex;
    background-color: #fff;
    border: 1px solid #fff;
    display: flex;
    height: auto;
    padding: 20px;
    gap: 5px;
}

.users-icon {
    position: relative;
    left: 100px;
}

.users-icon img {
    width: 50px;
    height: 50px;
    object-fit: cover;
    /* ↑画像の縦横比を維持したまま切り取り */
    border-radius: 25px;
    /* ↑角を丸くする */
}

.users-post-content {
    position: relative;
    top: 5px;
    left: 150px;
    width: 500px;
    max-width: 100%;
}

.users-content {
    word-wrap: break-word;
    white-space: normal;
    overflow-wrap: break-word;
}

.posts-time {
    position: relative;
    left: 250px;
}



/* プロフィール編集 */
.my-profile-icon {
    position: relative;
    top: 40px;
    left: 230px;
}

.my-profile-icon img {
    width: 50px;
    height: 50px;
    object-fit: cover;
    /* ↑画像の縦横比を維持したまま切り取り */
    border-radius: 25px;
    /* ↑角を丸くする */
}

.edit-form {
    position: relative;
    left: 450px;
}

#profile-list {
    position: relative;
    right: 100px;
}

.profile-list-edit {
    position: relative;
    top: -35px;
    left: 20px;
    width: 350px;
    height: 30px;
}

.profile-bio-edit {
    position: relative;
    top: -30px;
    left: 20px;
    width: 350px;
    height: 30px;
    resize: none;
}

.profile-icon-edit {
    padding: 40px;
    position: relative;
    top: -30px;
    left: 20px;
    background-color: #fff;
}


.edit-error {
    position: relative;
    left: 20px;
    color: #FF0000;
}
